<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
	{{{body}}}
</body>
	<script src="/lib/main.js"></script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/lib/superagent.min.js"></script>
</html>


