<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
	<nav class="navbar navbar-default">
	<div id="page-header" class="container-fluid">


	<ul class="nav navbar-nav navbar-left">
		<li id="opr-dropdown" class="dropdown">
  			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
  				<i class="fa fa-bars"></i>
  			</a>
		
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#" data-toggle="modal" data-target="#create-folder-modal">
						<i class="fa fa-folder-open"></i>Create folder
					</a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target="#upload-modal">
						<i class="fa fa-download"></i>Upload file(s)
					</a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target="#drive-details-modal">
						<i class="fa fa-server"></i>Drives details
					</a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target="#add-drive-modal">
						<i class="fa fa-server"></i>Add drive
					</a>
				</li>
				<li class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</li>
	</ul>
	<span class="navbar-brand">Merged Drives</span>

	<ul class="nav navbar-nav navbar-right pull-right">
		<li id="header-user-menu" class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="hidden" id="user-id">{{uid}}</span>
				<span id="user-name">Jim Ng</span>
				<span class="caret"></span>
			</a>
			<ul id="user-opt" class="dropdown-menu" role="menu">
				<li>
					<a href="#" data-toggle="modal" data-target="#config-modal">
						<i class="fa fa-folder-open"></i>Configuration
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-download"></i>Option2
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-server"></i>Option3
					</a>
				</li>

				<li class="divider"></li>
				<li>
					<a href="#" id="logout-opt">Logout</a>
				</li>
			</ul>

		</li>
	</ul>
	</div>
</nav>


<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
    <li><a tabindex="-1" href="#">Open</a></li>
    <li><a tabindex="-1" href="#">Download</a></li>
    <li><a id='context-menu-delete' tabindex="-1" href="#">Delete</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">View Details</a></li>
</ul>

<!-- Modals put here-->
<div class="modal" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Upload file</h4>
			</div>
			<div class="modal-body">
				<form id="upload-form" class="form-group" enctype="multipart/form-data" action="/fs/uploadFile" method="post">
					<label for="upload">File(s) to upload</label>
					<input id="upload-file-input" type="file" name="upload">
					<input type="hidden" id="upload-file-dir" name="fileid" value="">
				</form>
				<!--Drag and drop upload start-->
				<div id="drop_zone">Drop files here</div>
				<output id="list"></output>
				<!--Drag and drop upload end-->
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary confirm-btn" data-dismiss="modal">Confirm</button>
				<button class="btn btn-default close-btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="create-folder-modal" tabindex="-1" role="dialog" aria-labelledby="create-folder-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Create Folder</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="form-horizontal">
						<label for="create-folder-input" class="col-xs-2 control-label">Name</label>
						<div class="col-xs-10">
    					<input type="text" class="form-control" id="create-folder-input" placeholder="Folder name (Default: New Folder)">
    					</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary confirm-btn" data-dismiss="modal">Confirm</button>
				<button class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="config-modal" tabindex="-1" role="dialog" aria-labelledby="config-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Configuration</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="col-xs-3">

					</div>

					<div class="col-xs-9">
						132
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="add-drive-modal" tabindex="-1" role="dialog" aria-labelledby="add-drive-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Add Drives</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form class="form-horizontal" method="POST" action="{{googleAuthUrl}}" target="_blank">
						<div class="form-group">
							<label class="col-sm-6 control-label">Sign in with Google</label>
							<div class="col-sm-6">
								<button id="add-google-btn" type="submit" class="btn">
									<i class="fa fa-google-plus fa-lg"></i> 
									<span>Click to add Drive</span>
								</button>
							</div>
						</div>
					</form>


					<form class="form-horizontal" method="POST" action="/addDrive/getReqToken/dropbox" target="_blank">
						<div class="form-group">
							<label class="col-sm-6 control-label">Sign in with Dropbox</label>
							<div class="col-sm-6">
								<button id="add-dropbox-btn" type="submit" class="btn">
									<i class="fa fa-dropbox fa-lg"></i> 
									<span>Click to add Drive</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="drive-details-modal" tabindex="-1" role="dialog" aria-labelledby="drive-details-label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Drive details</h4>
			</div>
			<div class="modal-body">
				<div id="piechart"></div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-default close-btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  	<div class="container">
  		<div class="alert alert-info pull-right show" role="alert">Upload processing</div>
  	</div>
</nav>
	{{{body}}}
</body>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="/lib/superagent.0.15.7.min.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script src="/lib/main.js"></script>
	<script src="/lib/contextMenu.js"></script>
	<script src="/lib/bootstrap/bootstrap.min.js"></script>

</html>


