<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
	.container{
		margin-top: 20px;
	}
</style>

<section class="container">
	<section class="panel panel-warning">
		<section class="panel-heading">Error</section>
		<section class="panel-body">
				<article class="text-center">
					<h2>{{err}}
					</h2>
				</article>
				<a class="btn btn-warning btn-lg pull-right" onclick="window.close()" role="button">Close</a>
		</section>
	</section>
</section>