<form id="login-form" method="post" action="api/login" class="login">
  <p>
    <label for="login">Email:</label>
    <input type="text" name="username" id="login" placeholder="Email">
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Password">
  </p>

  <p class="login-submit">
    <button type="submit" class="login-button">Login</button>
  </p>

  <p class="forgot-password">
    <a href="/account/register">Register</a>
    <a href="reset.html">
      <span id="forget">Forgot your password?</span>
    </a>
    
  </p>
</form>

<section class="about">
  <p class="about-author">
    &copy; 2012&ndash;2013 <a href="http://thibaut.me" target="_blank">Thibaut Courouble</a> -
    <a href="http://www.cssflow.com/mit-license" target="_blank">MIT License</a><br>
    Original PSD by <a href="http://365psd.com/day/2-234/" target="_blank">Rich McNabb</a>
</section>
