<div id="main" class="container-fluid">
	<div class="container col-xs-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				location
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#">Favourite1</a>
					</li>
					<li>
						<a href="#">Favourite2</a>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<div id="main-file-panel" class="col-xs-9">
		<ol id="path-crum" class="breadcrumb">

		</ol>

		<div class="container-fluid">
			<!-- Table -->
			<table id="file-list" class="table text-center">
				<thead class="panel-heading">
					<tr>
						<td>Name</td>
						<td>Type</td>
						<td>Download</td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>


	</div>
</div>