<div id="main" class="container-fluid">
	<div class="container col-xs-3">
		<div id="main-aside" class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Operations</h3>
			</div>
			
			<div class="list-group">
				<a href="#" class="list-group-item" data-toggle="modal" data-target="#create-folder-modal">
					<i class="fa fa-folder-open fa-fw"></i>&nbsp; Create folder
				</a>
				<a href="#" class="list-group-item" data-toggle="modal" data-target="#upload-modal">
					<i class="fa fa-download fa-fw"></i>&nbsp; Upload file
				</a>
				<a href="#" class="list-group-item" data-toggle="modal" data-target="#drive-details-modal">
					<i class="fa fa-server fa-fw"></i>&nbsp; Drives details
				</a>
				<a href="#" class="list-group-item" data-toggle="modal" data-target="#add-drive-modal">
					<i class="fa fa-plus fa-fw"></i>&nbsp; Add drive
				</a>
			</div>
		</div>
	</div>

	<div id="main-file-panel" class="col-xs-9 drop_zone" >

		<ol id="path-crum" class="breadcrumb">
		</ol>

		<div class="container-fluid">
			<!-- Table -->
			<table id="file-list" class="table">
				<thead class="panel-heading">
					<tr>
						<td><i class="fa fa-files-o"</i></td>
						<td>Name</td>
						<td>Type</td>
						<td>Download</td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<iframe id="dl-iframe"></iframe>
	</div>
</div>