@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
}

#file-list.table > thead{
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

#path-crum{
	background-color: transparent; 
}

.dropdown-menu i{
	margin-right: 10px;
	width: 10px;
}

.navbar-nav.pull-right{
	margin-right: 10px;
}

#logout-form{
	display: none;
}

#file-list > tbody > tr{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

#file-list > tbody > tr:focus{
	outline: none !important;
	background-color: #4A148C;
	color: white;
}

#file-list > tbody > tr:focus{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar-fixed-bottom{
	visibility: hidden;
}

.navbar-fixed-bottom .alert{
	visibility: hidden;
}

#main-file-panel{
	min-height: 600px;
}

#add-dropbox-btn{
	background-color: #007EE5;
	color: white;
}

#add-google-btn{
	background-color: #DF4A32;
	color: white;
}

#main-aside > .panel-body * {
	margin-bottom: 10px;
}

#main-aside {
	font-size: 16px;
	border-color: orange;
}

#main-aside > .panel-heading{
	background-color: orange;
	color: white;
}

#main-aside *{
	outline: none;
}

#path-crum {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: darkviolet;
	min-height: 38px;
	display: block;
}

#path-crum a{
	color: white;
}

.fa-google{
	color: red;
	font-size: 16px;
}

.fa-dropbox{
	color: blue;
	font-size: 16px;
}


